@font-face {
  font-family: "iconfont";
  /* Project id 2760107 */
  src: url('//at.alicdn.com/t/font_2760107_bat7u3hdi4n.woff2?t=1629533549685') format('woff2'), url('//at.alicdn.com/t/font_2760107_bat7u3hdi4n.woff?t=1629533549685') format('woff'), url('//at.alicdn.com/t/font_2760107_bat7u3hdi4n.ttf?t=1629533549685') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pinglun:before {
  content: "\e601";
}
.icon-guanbi:before {
  content: "\e602";
}
.icon-fenxiang:before {
  content: "\e603";
}
.icon-shouye:before {
  content: "\e604";
}
.icon-shanchu:before {
  content: "\e605";
}
.icon-wenda:before {
  content: "\e606";
}
.icon-shouji:before {
  content: "\e607";
}
.icon-youjiantou:before {
  content: "\e608";
}
.icon-lishi:before {
  content: "\e609";
}
.icon-sousuo:before {
  content: "\e60a";
}
.icon-wode:before {
  content: "\e60b";
}
.icon-shoucang:before {
  content: "\e60c";
}
.icon-yanzhengma:before {
  content: "\e60d";
}
.icon-wuwangluo:before {
  content: "\e60e";
}
.icon-dianzan:before {
  content: "\e60f";
}
.icon-zuopin:before {
  content: "\e610";
}
.icon-yuedu:before {
  content: "\e611";
}
.icon-dianzan2:before {
  content: "\e612";
}
.icon-shipin:before {
  content: "\e613";
}
.app-nav-bar {
  background-color: #3296fa;
}
.app-nav-bar .van-nav-bar__title {
  color: #fff;
}
.app-nav-bar .van-icon {
  color: #fff;
}
html,
body,
#app {
  background-color: #f5f7f9;
  height: 100%;
}
